<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Top 3 F1 drivers</h3>
<div class="grid grid-pad">
  <a *ngFor="let f1racer of f1racers"  [routerLink]="['/detail', f1racer.number]"  class="col-1-4">
    <div class="module hero">
      <h4>{{f1racer.name}}</h4>
    </div>
  </a>
</div>
</body>
</html>
