<div>
  <h2>{{f1racer.name}} details!</h2>
  <div>
    <label>number: </label>
    <input id="number" [(ngModel)]="f1racer.number" placeholder="team" />
  <div>
    <label>team: </label>
    <input [(ngModel)]="f1racer.team" placeholder="team"/>
  </div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="f1racer.name" placeholder="name"/>
  </div>
  <button (click)="edit()">Save</button> <button (click)="goBack()">Cancle</button>
  </div>
</div>
