<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div *ngIf="!name">
  <form [formGroup]="rForm">

<div class="form-group">
  <label class="col-sm-1 col-form-label">name</label>
  <input [(ngModel)]="newRacer.name" formControlName="name">
  <div *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched" class="col-sm-10">
    THIS IS REQUIRED
  </div>
</div>
    <br/>
<div class="form-group">
    <label class="col-sm-1 col-form-label">team</label>
    <input [(ngModel)]="newRacer.team" formControlName="team">
    <div class="col-sm-10"
      *ngIf="!rForm.controls['team'].valid && rForm.controls['team'].touched">
      THIS IS REQUIRED
    </div>
</div>
<br/>
<div class="form-group">
  <label class="col-sm-1 col-form-label">number</label>
  <input [(ngModel)]="+newRacer.number" formControlName="number">
  <div class="col-sm-10"
    *ngIf="!rForm.controls['number'].valid && rForm.controls['number'].touched">
    THIS IS REQUIRED
  </div>

</div>

<br/>

    <div class="col-sm-1 ">
      <button class="btn" (click)="save()" [disabled]="!rForm.valid">Save</button>
    </div>
  </form>
</div>
</body>



</html>
